@use '../../styles/variables' as *;

.btn {
    text-align: center;
    font-size: 1rem;
    border: 1px solid $border-color;
    cursor: pointer;
    padding: 0.5rem;
    width: 80%;
    border-radius: 5px;
    color: #FAF3DD;
    font-weight: 600;
    transition: background-color 0.5s ease, opacity 0.5s ease;

    &:not(.disabled):hover {
        background-color: #4c5178;
    }

    &:not(.disabled):active {
        transform: translateY(1px);
    }
}

.disabled {
    cursor: not-allowed;
    opacity: 0.6;
}
