
.defaultButton {
    background-color: white;
    text-align: center;
    font-size: 1rem;
    border: 1px solid black;
    cursor: pointer;
    padding: 10px 20px;
    width: 80%;
    border-radius: 5px;
    color: #FAF3DD;
    font-weight: 600;

    &:not(.disabled):hover {
        opacity: 0.7;
    }
}

.disabled {
    cursor: not-allowed;
    opacity: 0.7;
}
