.canvas {
    border: 1px dashed #92374D;
    height: 100%;
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 5px;
}

.uploadContainer {
    border-radius: 5px;
    position: relative;
}

.zoom {
    position: absolute;
    border: 2px solid white;
    overflow: hidden;
    border-radius: 50%;
    background-color: white;
    z-index: 1000;
}

@container (max-width: 1000px) {

    .uploadContainer {
        width: 100%;
    }

}

// only a temporary solution, will check for another to see if it's a mobile device / tablet
@container (max-width: 700px) {
    .zoom {
        display: none;
    }
}
