@use '../../../styles/variables' as *;

.mainCanvas {
    border: 2px solid $border-color;
    height: 100%;
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 5px;
}

.uploadContainer {
    border-radius: 5px;
    position: relative;
}

@container (max-width: 1000px) {
    .uploadContainer {
        width: 100%;
    }
}

