.modeToggleContainer {
    grid-column: 2;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #FAF3DD;
    font-size: 1rem;
    font-weight: 600;

    .buttons {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }


    label {
        cursor: pointer;
        height: 30px;
        width: 50px;
        background-color: blue;
        border-radius: 30px;
        position: relative;
        border: 1px solid #FAF3DD;

        .toggleSlider {
            position: absolute;
            width: 50%; 
            height: 100%;
            background-color: #92374D;
            border-radius: 50%;
            top: 0px;
            left: -0.5px;
            transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }  

        input[type="checkbox"] {
            display: none;
        }

        input[type="checkbox"]:checked {
            + .toggleSlider {
                transform: translateX(24px);
            }
        }
    }

}