@use '../../styles/variables' as *;

.controlsContainer {
    height: auto;
    margin-left: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
    border: 2px solid $border-color;
    padding: 0.5rem;
    transition: height 0.5s ease-in-out;
    color: $text-color;

    .buttons {
        display: grid;
        grid-template-columns: 1.2fr 1fr;
        grid-template-rows: auto;
        gap: 0.5rem;
        padding: 0.5rem;

        .buttonsContainer {
            grid-column: 1;
            grid-row: 1 / 3;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }

        .togglesContainer {
            grid-column: 2;
            grid-row: 1 / 3;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            font-size: 1rem;
            font-weight: 600;
        }

    }

    &.found {
        height: 100%;
    }
}


@container (max-width: 1000px) {
    .controlsContainer {
        width: 100%;
        margin-left: 0;
    }
}