@use '../../../../styles/variables' as *;

.colorResultsHeader {
    margin: 0 auto;
    width: 50%;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 1rem;

    .colorResultsText {
        white-space: nowrap;
        color: $text-color;
        font-size: 1.5rem;
        font-weight: 600;
    }
}

.selectedColor {
    flex: 1;
    border-radius: 0.5rem;
    border: 1px solid $border-color;
}