.placeholderButton {
    position: absolute;
    top: calc(40%);
    left: calc(40%);
    width: 20%;
    height: 20%;
    font-size: 3rem;
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.5s ease, transform 0.5s ease, border-color 0.3s ease;
    
    input[type="file"] {
        display: none;
    }

    .customFileUpload {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    &:hover {
        border-color: grey;
        transform: scale(1.2);
    }
}