.manualModeToggleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    input[type="checkbox"] {
        margin-right: 0.5rem;
    }
}