@use '../../../styles/variables' as *;

.colorPickerContainer {
    position: relative;
    display: flex;
    width: 100%;
    aspect-ratio: 1 / 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px solid $border-color;

    h2 {
        font-size: 2.5rem;
        color: $text-color;
    }

    :global(.react-colorful) {
        height: 50%;
        width: 50%;
    }
}