// TODO
// get rid of colorMatchContainer repetition between dual / single colors, can extract common styles

.colorMatchContainer {
    position: relative;
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    border: 1px solid black;
    padding-block: 1rem;
    border-radius: 5px;
    opacity: 0;
    transform: translateY(-20px);
    animation: appear 0.5s ease-in forwards;

    .firstHalf, .secondHalf {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: inherit;
    }

    .firstHalf {
        clip-path: polygon(0 0, 55% 0, 45% 100%, 0% 100%);
    }

    .secondHalf {
        clip-path: polygon(100% 0, 55% 0, 45% 100%, 100% 100%);
    }

    .matchText {
        z-index: 1;
        padding-inline: 0.5rem;
    }
}

.matchText {
    font-weight: 700;
}

.colorMatchContainer:nth-child(1) {
    animation-delay: 0s;
}

.colorMatchContainer:nth-child(2) {
    animation-delay: 0.2s;
}

.colorMatchContainer:nth-child(3) {
    animation-delay: 0.3s;
}

.colorMatchContainer:nth-child(4) {
    animation-delay: 0.4s;
}

.colorMatchContainer:nth-child(5) {
    animation-delay: 0.5s;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}